<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.vms.mapper.ManagerapplyMapper">

    <insert id="apply">
        insert into managerapply (managerApplyCompanyName, managerApplyCompanyIntro, managerApplyCompanyAlipay,
                                  memberId)
        values (#{managerApplyCompanyName}, #{managerApplyCompanyIntro}, #{managerApplyCompanyAlipay}, #{memberId});
    </insert>
    <delete id="acceptapply">
        delete
        from managerapply
        where memberId = #{memberId};
    </delete>
    <select id="checkmemberapplynum" resultType="java.lang.Integer">
        select count(*)
        from managerapply
        where memberId = #{memberId};
    </select>
    <select id="queryByMemberId" resultType="com.example.vms.info.ManagerApplyInfo">
        select *
        from managerapply
        where memberId = #{memberId};
    </select>
</mapper>
