<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.vms.mapper.MembercompanyfeeMapper">

    <insert id="remind">
        insert into membercompanyfee (companyName, memberId, memberCompanyFeeAmount, memberCompanyFeePaid,
                                      memberCompanyFeeCertificate, memberCompanyFeeChecked)
        values (#{companyName}, #{memberId}, #{memberCompanyFeeAmount}, false, null, false);
    </insert>
    <update id="submitcertificate">
        update membercompanyfee
        set memberCompanyFeeCertificate = #{memberCompanyCertificate}
            and memberCompanyFeePaid = true
        where memberCompanyFeeId = #{memberCompanyFeeId}
    </update>
    <update id="confirmcertificate">
        update membercompanyfee
        set memberCompanyFeeChecked = true
        where memberCompanyFeeId = #{memberCompanyFeeId};
    </update>
    <select id="showUnpaid" resultType="com.example.vms.entity.Membercompanyfee">
        select *
        from membercompanyfee
        where memberId = #{memberId}
          and memberCompanyFeePaid = false;
    </select>
    <select id="showByCompany" resultType="com.example.vms.entity.Membercompanyfee">
        select *
        from membercompanyfee
        where companyName = #{companyName}
          and memberCompanyFeeChecked = false;
    </select>
</mapper>
